# System folders
__pycache__/
.vscode/
wandb/
*.code-workspace
*.egg-info
.github/
.devcontainer/

# ng_ indicates "no git" and is used to ignore files that should not be committed to git
ng_*.py
ng_*.ipynb
no_git/
ng_*

# Ignore the top __init__.py file
/__init__.py

# Ignore custom config files
config/custom

# Folders
temp/
data
# Do not ignore jaxus/jaxus/data
!jaxus/data

# Filetypes that should never be committed
*.npz
*.npy
*.mat
*.mp4
*.png
*.hdf5
*.h5
*.log
*.dll
*.gif
*.zip
*.whl
*.tar.gz